body {
  background-color: #333;
  font-family: Roboto, sans-serif;
  margin-top: 50px;
  text-align: center;
  color: #ffffff;
}
a {
  color: #ffffff;
}
h1 {
  color: #ffffff;
}
h2 {
  color: #ffffff;
}
h3 {
  color: #ffffff;
}
.rounded-img {
  border-radius: 15px;
  height: auto;
}
